# SELECT, DELETE, and UPDATE
<hr>

## 1. SELECT
The SELECT statement is used to select data from a database.
The data returned is stored in a result table.  
``` sql
SELECT col1, col2, ... FROM table_name
```  

For example:
``` sql
SELECT product_name, price FROM products;
```
To select all the columns, we can write a `*` in place of column names.
``` sql
SELECT * FROM products;
```
<hr>

## 2. DELETE
The DELETE statement is used to delete existing records in a table.  
``` sql 
DELETE FROM table_name WHERE condition;
```  

To avoid the safe mode error, you can write limit number.
For example:  
``` sql
DELETE FROM products WHERE id = 1 limit 10;
```  

**Note:** Be careful when deleting records in a table! If you omit the WHERE clause, all records in the table will be deleted!
<hr>

## 3. UPDATE
The UPDATE statement is used to modify the existing records in a table.  
``` sql UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
```

For example:
``` sql
UPDATE products SET price = 100, quantity = 34 WHERE id = 1;
```

**NOTE:** If you omit the WHERE clause, all records in the table will be updated!
<hr>