# Table of Contents
- [Create Database](#create-database)
- [Delete Database](#delete-database)
- [Using the Database](#use-database)
- [Create Table](#create-table)
- [See Tables](#see-tables)

## <a id='create-database'></a>Create database
**Command:** `CREATE DATABASE database_name;`

**Description:**
This command creates a new database. In place of `database_name`, specify the name of the database that you want to create. For example:

**Syntax:**
```sql
CREATE DATABASE super_store;
```

## <a id="delete-database"></a> Delete a database
**Command:** `DROP DATABASE database_name;`

**Description:**
This command deletes an existing database. In place of `database_name`, specify the name of the database that you want to delete. Database should exist otherwise you will see an error at the bottom of MySQL workbench. For example you can delete database like following:

**Syntax:**
```sql
DROP DATABASE super_store;
```

**Note:** Once you delete a database, and you want to do some operation on that database, you will have to create that database again using `CREATE DATABASE` command.

## <a id="use-database"></a> Use a database
**Command:** `USE database_name;`

**Description:**
This command is used to select a database. After selecting a database, you can perform operations on the tables of that database.

**Syntax:**
```sql
USE super_store;
```

## <a id="create-table"></a> Create a table
**Command:** `CREATE TABLE table_name (column1_name data_type, column2_name data_type, column3_name data_type, ...);`  

**Description:**
This command creates a new table. In place of `table_name`, specify the name of the table that you want to create. In place of `column1_name`, `column2_name`, `column3_name`, etc., specify the names of the columns that you want to create. In place of `data_type`, specify the data type for each column.

**Syntax:**
```sql
CREATE TABLE products (product_id INT, product_name VARCHAR(100), price DECIMAL(10,2), quantity INT);
```

## <a id="see-tables"></a> See tables in a database
**Command:** `SHOW TABLES;`

**Description:**
This command shows all the tables in the current database. 

If you want to see all the tables in a different database, you can use the following command: `SHOW TABLES FROM database_name;`

**Extra:** You can use `SHOW DATABASES;` to see all the databases in the MySQL server as well.